html {
	height: 100%;
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

  
body {
	margin: 0;
	height: 100%;
}

.top {
	height: 12.6%;
	background-color:black;
}

#image {
    float: left;
    margin: .5%;
}

#login-photo:hover {
    cursor: pointer;
}

#login-photo {
    float: right;
    margin-right: 30px;
}

/* The popup form - hidden by default */
.form-popup {
	display: none;
	position: fixed;
	top: 50px;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-popup {
	max-width: 300px;
	padding: 10px;
	background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
	width: 90%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
	background-color: #ddd;
	outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
	background-color: rgb(73, 154, 192);
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
	background-color: rgb(212, 38, 38);
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
	opacity: 1;
  }

#main-image {
	margin-top: 10px;
	position: relative;
	opacity: 0.5;
}

#welcome-words {
	position: relative;
	bottom: 60%;
}

#welcome-line {
	text-align: center;
	font-size: 50pt;
	font-weight: bold;
	margin: 0;
}

#welcome-details {
	position: relative;
	text-align: center;
	bottom: 60%;
}
.welcome-des {
	font-size: 12pt;
	font-weight: bold;
}

#login {
	position: relative;
	text-align: center;
	bottom: 60%;
}

#LISU:hover {
	cursor: pointer;
}

